@import 'navbar.scss';
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: 'Newsreader', serif;
}

nav {
    $interval: 400ms;
    .nav-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 82px;
        margin: 2em;
        ul {
            margin-right: 12px;
        }

        li {
            transition: $interval;
        }
        
        span {
            display: block;
            
            width: 14px;
            height: 2px;
            margin: 1px;
            background: black;
        }

        p {
            display: block;
            user-select: none;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 500;
            margin-top: 5px;
            margin-left: 0;
        }

        input {
            position: absolute;
            cursor: pointer;
            opacity: 0;
            top: 32px;
            width: 82px;
            height: 22.2px;
        }
    }
    
    .nav-btn:hover  {
        $hoverColor: rgb(167, 17, 17);
        span {
            background-color: $hoverColor;
        }
        p {
            color: $hoverColor;
        }
    }

    .nav-menu {
        display: flex;
        width: fit-content;
        padding: 3em;
        

        li {
            padding: 1em;
        }

        a {
            color: black;
            text-decoration: none;
        }
    }
}

